@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background: linear-gradient(217.64deg, #9181F4 -5.84%, #5038ED 106.73%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: var(--font-poppins), Arial, Helvetica, sans-serif;
}
